/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
//Big quotes around the "quote".
@include desktop {
	.site-content { 
	&:before,
	&:after {
	font-size: 200px;
	// position: absolute;
	font-family: 'FontAwesome';
	}
	&:before {
			content: '\f10d';
			left: -22rem;
			color: $color__green-brand;
	}
	&:after {
			content: '\f10e';
			right: -20rem;
			top: 0;
			color: $color__green-brand;
	}
	}
	// .logo {
	// 	width: 400px;
	// 	margin: 0 auto;
	// }
	// .page {
	// 	width: 400px;
	// 	margin: 0 auto;
	// }
}

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}
