/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* Submit a Quote Page */

.form {
	display: flex;
	flex-flow: column nowrap;
	margin: 1rem 0;
 
	label {
		margin: .5rem 0;
	}

	.quote-author, .quote-source, .quote-source-url {
		width: 65%;

		@include desktop {
			width: 50%;
		}
	}

	.quote-content {
		width: 100%;
	}
}

.quote-submission-wrapper .submit-success.message {
  display: inline-block;
}

/* Buttons */

.single-post button {
	margin: 5rem;
	@include desktop {
		margin: 0 auto;
		width: 100%;
	}
}

.error404 .search-submit {
	border: none;
	padding: .5rem .25rem;
	width: 10%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: $border__solid;
	border-radius: 3px;
	background: $color__background-body;
	color: $color__green-brand;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1;
	padding: .5rem 1rem;
	width: 50%;

	@include tablet {
		width: 40%;
		max-width: 350px;
	}

	&:hover {
		border-color: $color__green-brand;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-main;
	background-color: $color__background-body; 
	border: $border__solid;
	border-radius: 3px;

	@include tablet {
		font-size: 1.25rem;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
