/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */
.main-navigation {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	width: 100%;

		@include desktop {
			justify-content: flex-end;
		}

	p {
		display: inline-block;
		flex-basis: 100%;
		
			@include tablet {
				flex-basis: 0;
				margin: 0;
				padding-left: 1rem;
				word-wrap: none;
				width: 100%; 
				min-width: 280px;
			}
	}

	ul {
		display: flex;
		flex-flow: row wrap;
		list-style: none;
		margin: 0;
		padding-left: 0;

			li:first-child {
				padding-left: 0;
			}

			li:last-child {
				border-right: none;
			}

			@include tablet {
				li:last-child {
					border-right: 1px solid #fff;
				}
			}

			li {
				border-right: 1px solid #fff;
				padding: 0 1rem;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}
}

// /* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	// .main-navigation ul {
	// 	display: block;
	// }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		width: 50%;
	}

	.nav-next {
		text-align: right;
		width: 50%;
	}
}
