/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* All Pages */
.site {
  padding: 2.5%;
  width: 100%;

  .site-content {
    margin: 7.5vh 0;

    @include desktop {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

      &:before,
      &:after {
        font-family: 'FontAwesome';
        font-size: 125px;
      }

      &:before {
        content: '\f10d';
        align-self: flex-start;
        color: $color__green-brand;
      }
      &:after {
        content: '\f10e';
        align-self: flex-start;
        color: $color__green-brand;
      }
    }

    .content-area {    
      @include desktop {
        flex-basis: 60%;
        margin: 0 5vw;
      }
    }
  }
}

/* Footer on all pages */
.site-footer {
  padding: 5% 0;

  @include desktop {
    padding: 0 5% 0 0;
  }
}


