/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* All Pages */
.site {
  padding: 2.5%;
  width: 100%;

  .site-content {
    margin: 7.5vh 0;

    @include desktop {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

      &:before,
      &:after {
        font-family: 'FontAwesome';
        font-size: 125px;
      }

      &:before {
        content: '\f10d';
        align-self: flex-start;
        color: $color__green-brand;
      }
      &:after {
        content: '\f10e';
        align-self: flex-start;
        color: $color__green-brand;
      }
    }

    .content-area {
           
      @include desktop {
        flex-basis: 50%;
        margin: 0 5vw;
      }
    }
  }
}

/* All Single Quote Page */
.archive .entry-content p, .blog .entry-content p, .single .entry-content p {
  font-size: 1.25rem;

  @include tablet {
    font-size: 1.75rem;
  }

  @include desktop {
    font-size: 2.5rem;
  }
}

.entry-title {
  display: inline;
}

.source {
  font-size: 1.5rem;
}
/* Footer on all pages */
.site-footer {
	padding: 5% 0;
}

/* Archive Page */
.category-archives ul, .post-archives ul, .tag-archives ul {
  margin-left: 0;
  padding-left: 0;
}

.archive-lists, .wp-tag-cloud {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.tag-archives ul li, .category-archives ul li, .post-archives ul li, {
  margin-bottom: .5rem;
  margin-right: 1.25rem;

  // @include tablet {
  //   font-size: 1.25rem;
  // }
}

/* Submit a Quote Page */
.form {
	display: flex;
	flex-flow: column nowrap;
	margin: 1rem 0;
 
	label {
		margin: .5rem 0;
	}

	.quote-author, .quote-source, .quote-source-url {
		width: 65%;

		@include desktop {
			width: 50%;
		}
	}

	.quote-content {
		width: 100%;
	}
}

.quote-submission-wrapper .submit-success.message {
  display: inline-block;
}

